body {
    margin: 0;
    background-color: #b58b63;
    border: 0.5rem solid #a5b58d;
    border-radius: 5px;
    
}

#wrapper1 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "hd as"
    "nv nv"
    "sn sn"
    "pe pe"
    "ft ft";
    grid-template-rows: 20vh 5vh 1fr auto 5vh;
    grid-template-columns: 1fr auto;
}

#wrapper2 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "hd as"
    "nv nv"
    "mn mn"
    "ft ft";
    grid-template-rows: 20vh 10vh 1fr 5vh;
    grid-template-columns: 1fr auto;
}

#wrapper3 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "hd hd as"
    "nv nv nv"
    "hy ct ct"
    "sf ct ct"
    "ft ft ft";
    grid-template-rows: 20vh 10vh 1fr auto 5vh;
    grid-template-columns: 4fr 1fr 1fr;

    
}


header {
    grid-area: hd;
}
aside {
    grid-area: as;
}
nav {
    grid-area: nv;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
section {
    grid-area: sn;
}
picture {
    grid-area: pe;
}
footer {
    grid-area: ft;
}

main {
    grid-area: mn;
    
}

#history {
    grid-area: hy;
}

#staff {
    grid-area: sf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.person {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    background-color: #a5b58d;
    align-items: center;
    padding: 1rem;
    border: 0.5rem solid #a5b58d;
    border-radius: 2rem;
}

.staffpic {
    height: auto;
    width: 50%;
    border-radius: 2rem;
}

#contact {
    grid-area: ct;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cards {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 45%;
    background-color: aliceblue;

}

#indexflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#indexcards {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 50vh;
    border-radius: 10px;
}

.allergier {
    width: auto;        /* base size for desktop */
    height: 10%;
    vertical-align: middle; /* aligns nicely with text */
    display: inline-block;
}

.log {
    width: auto;        /* base size for desktop */
    height: 20vh;
    vertical-align: middle; /* aligns nicely with text */
    display: inline-block;
}

.picscafe {
    width: 10%;
}

#navbutton {
    background: #f6efe8;
    border-width: 10px;
    border-color: darkgreen;
    height: 5vh;
    width: 10vw;
}