body {
    margin: 0;
    background-color: #b58b63;
    border: 0.5rem solid #a5b58d;
    border-radius: 5px;
}

#wrapper1 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "tp tp "
    "sn sn "
    "pe pe "
    "ft ft ";
    grid-template-rows: 20vh 1fr auto 5vh;
    grid-template-columns: 1fr auto;
}

#wrapper2 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "tp tp"
    "mn mn"
    "ft ft";
    grid-template-rows: 20vh 1fr 5vh;
    grid-template-columns: 1fr 1fr;
}

#wrapper3 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "tp tp"
    "hy ct"
    "sf ct"
    "ft ft";
    grid-template-rows: 20vh 1fr auto 5vh;
    grid-template-columns: 4fr 1fr;
}

#top {
    grid-area: tp;
    display: grid;
    grid-template-areas:
    "hd as"
    "nv nv";
    grid-template-rows: 75% 25%;
    grid-template-columns: 1fr auto;
}

header {
    grid-area: hd;
    text-align: center;
}
aside {
    grid-area: as;
}
nav {
    grid-area: nv;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
section {
    grid-area: sn;
}
picture {
    grid-area: pe;
}
footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
}

main {
    grid-area: mn;
    
}



#history {
    grid-area: hy;
}

#staff {
    grid-area: sf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2rem;
}

.person {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    align-items: center;
    padding: 1rem;

    background: #a5b58d;
    border: 0.25rem solid #f6efe8;
    border-radius: 1rem;
}

iframe{
    margin: 1rem;
    width: 80%;
    height: 50vh;
}

.staffpic {
    height: auto;
    width: 40%;
    border-radius: 2rem;
}

#contact {
    grid-area: ct;
    margin: 2rem;
}

.menus, .more {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem;
}

.menuitem {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    background-color: aliceblue;
    border-radius: 2rem;
    padding: 1rem;
}

#meny {
    display: grid;
    grid-template-areas: 
    "ds py"
    "ds lh";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    margin: 2rem;
}

#drinks {
    grid-area: ds;
}

#pastry {
    grid-area: py;
    background-color: #a5b58d;
    border-radius: 3rem;
}

#lunch {
    grid-area: lh;
    background-color: #a5b58d;
    border-radius: 3rem;
}

#firstpage {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;*/
    gap: 2rem;
}

.indexcards {
    /*display: flex;
    flex-direction: column;*/
    width: auto;
    height: 50vh;
    border-radius: 10px;
}

#logo {
    width: auto;
    height: 15vh;
    vertical-align: middle;
    display: inline-block;
}

.picscafe {
    width: 50%;
    margin: 1rem auto;
}


.navbuttons {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f6efe8;
    border: 0.25rem solid #a5b58d;
    border-radius: 1rem;
    
    height: 5vh;
    width: 10vw;
    color: #000;
    text-decoration: none;
}

#weltext{
    width: 50%;
    margin: 5rem auto;
    border-radius: 1rem;
    background-image: url("../img/cafepics/firstpage2.jpg");
    background-position: center;
    height: 40vh;
    padding: 5rem;
    font-size: larger;
}

#history {
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    color:#f6efe8;

    background-image: url("../img/cafepics/outside1.jpg");
    background-size: cover;
    background-position: center;
}

table {
  width: 100%;
  font-size: large;
}
caption {
    text-align: left;
}
th {
  text-align: left;
}
td {
  text-align: center;
}

.media {
    height: 16px;
}

.footertext {
    color: #000000;
    text-decoration: none;
}