body {
    margin: 0;
    background-color: #b58b63;
    border: 0.5rem solid #a5b58d;
    border-radius: 5px;
}

#wrapper1 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "hd hd as"
    "nv nv nv"
    "sn sn sn"
    "pe pe pe"
    "ft ft ft";
    grid-template-rows: 20vh 5vh 1fr auto 5vh;
    grid-template-columns: 1fr 1fr auto;
}

#wrapper2 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "hd hd as"
    "nv nv nv"
    "mn mn mn"
    "ft ft ft";
    grid-template-rows: 20vh 5vh 1fr 5vh;
    grid-template-columns: 1fr 1fr auto;
}

#wrapper3 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "hd hd as"
    "nv nv nv"
    "hy ct ct"
    "sf ct ct"
    "ft ft ft";
    grid-template-rows: 20vh 5vh 1fr auto 5vh;
    grid-template-columns: 4fr 1fr auto;
}

header {
    grid-area: hd;
    text-align: center;
}
aside {
    grid-area: as;
}
nav {
    grid-area: nv;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
section {
    grid-area: sn;
}
picture {
    grid-area: pe;
}
footer {
    grid-area: ft;
}

main {
    grid-area: mn;
    
}



#history {
    grid-area: hy;
}

#staff {
    grid-area: sf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;

    margin: 1rem;
}

.person {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    align-items: center;
    padding: 1rem;

    background: #a5b58d;
    border: 0.25rem solid #f6efe8;
    border-radius: 1rem;
}

.staffpic {
    height: auto;
    width: 50%;
    border-radius: 2rem;
}

#contact {
    grid-area: ct;
}

.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}
.menuitem {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    background-color: aliceblue;
    border-radius: 2rem;
}

#meny {
    display: grid;
    grid-template-areas: 
    "ds py"
    "ds lh";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

#drinks {
    grid-area: ds;
}

#pastry {
    grid-area: py;
    background-color: #a5b58d;
    border-radius: 3rem;
}

#lunch {
    grid-area: lh;
    background-color: #a5b58d;
    border-radius: 3rem;
}

#indexflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.indexcards {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 50vh;
    border-radius: 10px;
}

#logo {
    width: auto;
    height: 15vh;
    vertical-align: middle;
    display: inline-block;
}

.picscafe {
    width: 10%;
}

.navbuttons {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f6efe8;
    border: 0.25rem solid #a5b58d;
    border-radius: 1rem;
    
    height: 5vh;
    width: 10vw;
    color: #000;
    text-decoration: none;
}

#weltext {
    margin: 5rem;
}