body {
    margin: 0;
    background-color: #a5b58d;
}

#wrapper1 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "tp tp "
    "sn sn "
    "pe pe "
    "ft ft ";
    grid-template-rows: 20vh 1fr auto 5vh;
    grid-template-columns: 1fr auto;
}

#wrapper2 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "tp tp"
    "mn mn"
    "ft ft";
    grid-template-rows: 20vh 1fr 5vh;
    grid-template-columns: 1fr 1fr;
}

#wrapper3 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "tp tp"
    "hy ct"
    "sf ct"
    "ft ft";
    grid-template-rows: 20vh 1fr auto 5vh;
    grid-template-columns: 4fr 1fr;
}

#top {
    grid-area: tp;
    display: grid;
    grid-template-areas:
    "hd as"
    "nv nv";
    grid-template-rows: 75% 25%;
    grid-template-columns: 1fr auto;
    background-color: #b58b63;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1rem;
}

header {
    grid-area: hd;
    text-align: center;
}
aside {
    grid-area: as;
}
nav {
    grid-area: nv;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
section {
    grid-area: sn;
}
picture {
    grid-area: pe;
}
footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
}

main {
    grid-area: mn;
    
}



#history {
    grid-area: hy;
}

#staff {
    grid-area: sf;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2rem;
}

.person {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    align-items: center;
    margin: 1rem;
    /*padding: 1rem;*/
    background: #b58b63;
    border: 0.25rem solid #f6efe8;
    border-radius: 1rem;
}

iframe{
    margin: 1rem;
    width: 80%;
    height: 50vh;
}

.staffpic {
    height: auto;
    width: 40%;
    border-radius: 2rem;
}

#contact {
    grid-area: ct;
    margin: 2rem;
}

.menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem;
}
.more {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    background: #f6efe8;
    border: 0.25rem solid #a5b58d;
    border-radius: 1rem;
    height: 4vh;
    width: 10vw;
    color: #000;
    text-decoration: none;
}

.menuitem {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    background-color: #f6efe8;
    border: 0.25rem solid #a5b58d;
    border-radius: 2rem;
    padding: 1rem;
}

#meny {
    display: grid;
    grid-template-areas: 
    "nf py"
    "nf lh";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    margin: 2rem;
}
section h2 {
    text-align: center;
}

#not-food {
    grid-area: nf;
    background-color: #b58b63;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#pastry {
    grid-area: py;
    background-color: #b58b63;
    border-radius: 3rem;
}

#lunch {
    grid-area: lh;
    background-color: #b58b63;
    border-radius: 3rem;
}

#firstpage {
    gap: 2rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#firstpic1, #firstpic2, #firstpic3, #firstpic4, #firstpic5 {
    width: auto;
    height: 50vh;
    border-radius: 10px;
}

.indexcards {
    width: auto;
    height: 50vh;
    border-radius: 10px;
}

#logo {
    width: auto;
    height: 14vh;
    vertical-align: middle;
    display: inline-block;
}

.picscafe {
    width: 50%;
    margin: 1rem auto;
}


.navbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6efe8;
    border: 0.25rem solid #a5b58d;
    border-radius: 1rem;
    height: 4vh;
    width: 10vw;
    color: #000;
    text-decoration: none;
}

#weltext{
    width: 50%;
    margin: 5rem auto;
    border-radius: 1rem;
    background-image: url("../img/cafepics/frontpage.jpg");
    background-position: center;
    height: 40vh;
    padding: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
    font-size: larger;
    color:#f6efe8;
}

#history {
    margin: 2rem;
    border-radius: 1rem;
    padding: 5rem;
    font-size: larger;
    color:#f6efe8;
    background-image: url("../img/cafepics/outside.jpg");
    background-size: cover;
    background-position: center;
}

#openinghours {
    width: 100%;
}
caption.open {
    text-align: left;
}
th.open {
    text-align: left;
}
td.open {
    text-align: center;
    font-size: large;
}

.drinks{
}
caption.drinks {
    text-align: left;
}
th.drink {
    text-align: right;
    padding: 0.5rem;
}
th.drinks {
    text-align: left;
    padding: 0.5rem;
}
td.drinks {
    text-align: center;
    padding: 0.5rem;
}


.media {
    height: 16px;
}
.linktext {
    color: #000000;
    text-decoration: none;
}

.contacts{
    background-color: #f6efe8;
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;
}

.icon{
    height: 4rem;
    width: auto;
    object-fit: contain;
}

#warmdrinks, #colddrinks {
    background-color: #f6efe8;
    border: 0.25rem solid #a5b58d;
    border-radius: 2rem;
    padding: 1rem;
}