body {
    margin: 0;
    
}

#wrapper1 {
    height: 100vh;
    display: grid;
    background-color: #b58b63;
    grid-template-areas: 
    "hd as"
    "nv nv"
    "sn sn"
    "pe pe"
    "ft ft";
    grid-template-rows: 15% 10vh 1fr 2fr 5%;
    grid-template-columns: 1fr 10vw;
    
}

#wrapper2 {
    display: grid;
    grid-template-areas: 
    "hd as"
    "nv nv"
    "mn mn"
    "ft ft";
    grid-template-rows: 15% 10% 1fr 5%;
    grid-template-columns: 1fr 10%;
    min-height: 100vh;
}

#wrapper3 {
    display: grid;

    grid-template-areas: 
    "hd as"
    "nv nv"
    "ft ft";
    min-height: 100vh;
    gap: 2vh;
}

#borders {
    border: 1rem solid brown;
    border-radius: 20px;
    background-color: #b58b63;
}

header {
    grid-area: hd;
}
aside {
    grid-area: as;
}
nav {
    grid-area: nv;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
section {
    grid-area: sn;
}
picture {
    grid-area: pe;
}
footer {
    grid-area: ft;
}

main {
    grid-area: mn;
    
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cards {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 45%;
    background-color: aliceblue;

}


.allergier {
    width: auto;        /* base size for desktop */
    height: 10%;
    vertical-align: middle; /* aligns nicely with text */
    display: inline-block;
}
